name: ML Pipeline

on:
  push:
    branches:
      - main

env:
  REGION: us-east4
  REPOSITORY_NAME: my-repo

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run tests
        run: pytest

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v1

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

      - name: Train and save model
        env:
          GCS_BUCKET_NAME: ${{ secrets.GCS_BUCKET_NAME }}
          VERSION_FILE_NAME: ${{ secrets.VERSION_FILE_NAME }}
        run: |
          python src/train_and_save_model.py | tee output.log
          echo "MODEL_VERSION=$(grep 'MODEL_VERSION_OUTPUT:' output.log | cut -d' ' -f2)" >> $GITHUB_ENV

      - name: Build and Push Docker image
        env:
          IMAGE_NAME: ${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPOSITORY_NAME }}/model-image
        run: |
          docker build -t ${IMAGE_NAME}:${{ env.MODEL_VERSION }} .
          docker push ${IMAGE_NAME}:${{ env.MODEL_VERSION }}
          docker tag ${IMAGE_NAME}:${{ env.MODEL_VERSION }} ${IMAGE_NAME}:latest
          docker push ${IMAGE_NAME}:latest
